<html>
<head> <title> Index </title>
</head>
<body> 
<form action='/info/display' method="get">
<p><input type="checkbox" name="info" value="name"> Name </p>
<p><input type="checkbox" name="info" value="roll_no"> Roll No. </p>
<p><input type="checkbox" name="info" value="branch"> Branch </p>
<p><input type="checkbox" name="info" value="session"> Session </p>
<p><input type="checkbox" name="info" value="marks"> Marks </p>
<p><input type="checkbox" name="info" value="backlog"> Backlog </p>
<input type="Submit" value="Submit">
</form>
</body>
</html>
